{% extends 'base.html.twig' %}

{% block title %}ATM{% endblock %}

{% block body %}
    <div class="col-6 text-center">Money inside: <strong>$123</strong></div>
    <div class="col-6 text-center">Money charged: <strong>$123</strong></div>

    <div class="col-12 mt-5 text-center">
        <p>
            <img src="/img/1c.png" width="80px"> 0
            <img src="/img/10c.png" width="80px"> 0
            <img src="/img/25c.png" width="80px"> 0
        </p>
        <p>
            <img src="/img/1d.png" width="80px"> 0
            <img src="/img/5d.png" width="80px"> 0
            <img src="/img/20d.png" width="80px"> 0
        </p>
    </div>
    <form class="col-12 text-center mt-5">
        <div class="form-group">
            <input type="number" min="0" class="form-control" title="amount">
        </div>
        <button class="btn btn-lg w-100">Take money</button>
    </form>
    <div class="col-12 text-center mt-5">You have taken $100</div>
{% endblock %}
