<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="bootstrap.min.css">
    {% endblock %}

    <title>{% block title %}Snack Machine{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>